.titulo{
  background-color: #457b9d;
  color: #f72585;
  color: white;
  text-align: center;
}

.marco{
  background-color: #457b9d;
  width: 100%;
  height: 200px;
  color: white;
  border: 1px solid #f72585;
}

.centrar{
  background-color: #457b9d;
  text-align: center;
  color: white;
}

.boton{
  background-color: white;
  border: 2px solid #457b9d;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.boton:hover{
  background-color: #457b9d;
  color: white;
}
